@import "tailwindcss";

body {
  font-family: "Poppins";
}


.outer-container {
  @apply p-3
}

.nav-links {
  @apply font-bold text-white bg-violet-900 rounded hover:bg-violet-700 transition ease-in-out text-nowrap p-3 m-2 md:m-0 block;
}

.nav-toggle {
  @apply cursor-pointer bg-violet-300 text-violet-900 font-bold w-[50px] h-[50px] rounded text-2xl transition ease-in-out hover:bg-violet-900 hover:text-violet-300 md:hidden;
}

.mobile-nav {
  @apply p-3 absolute bg-violet-950 top-[4.6rem] left-0 w-[100%] md:hidden;
}
